body {
    background-image:
      linear-gradient(
        
        #9575CD, 
        #512DA8, 
        #4527A0, 
        #311B92
      );
    text-align:center;
  }
  
  .lighter {
    color:white;
    font-size:30px;
    font:sans-serif;
  }
  
  img {
    border-radius:25px;
    border:solid;
    border-width:10px;
    border-color:#1A237E;
  }